p.a{
  font-weight: bold;
  font-style: oblique;
  font-size: 50px;
}
div {
  text-align: left;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
}
.title {
  text-align:center;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
}
button {
  height: 50px;
  width: auto;
  background: #016efd;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1.25em;
  font-family: "Gill Sans";
  border-radius: 4px;
  cursor: pointer;
  padding: 14px 40px;
}
button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
button:hover {
  border: 3px solid black;
}
input[type=text]{
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}
input[type=date] ,select{
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}
input[type=number]{
  width: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}
input[type=radio]{
  padding: 100px 100px;
  margin: 15px 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}
thead{
  background-color: #007dc5;
}
td,
th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;

}

tr:nth-child(even) {
  background-color: #0adceb;
}
tr:hover{background-color:#cff1f1}
