<div>
    <div class="title">
      <p class="a"> Book a Flight </p>
    </div>
    <form [formGroup]="bookingForm">

        <div>
            <label>Full Name </label><br>
            <input type="text" formControlName="Name">
            <span style="color: red;" *ngIf="bookingForm.get('Name')?.errors?.['required']">Please enter your name</span>
        </div>

        <div>
            <label>Form </label>
            <select formControlName="From">
              <option value='null' disabled>Choose Country</option>
              <option value="Thailand">Thailand</option>
              <option value="Singapore">Singapore</option>
              <option value="Vietnam">Vietnam</option>
              <option value="Laos">Laos</option>
              <option value="Brunei">Brunei</option>
              <option value="Cambodia">Cambodia</option>
              <option value="Indonesia">Indonesia</option>
              <option value="Malaysia">Malaysia</option>
              <option value="Myanmar">Myanmar</option>
              <option value="Phillippines">Phillippines</option>
              <option value="Korea">Korea</option>
              <option value="Japan">Japan</option>

            </select>
            <span style="color: red;" *ngIf="bookingForm.get('From')?.errors?.['required']">Plase select country</span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <label>To </label>
            <select formControlName="To">
              <option value='null' disabled>Choose Country</option>
              <option value="Thailand">Thailand</option>
              <option value="Singapore">Singapore</option>
              <option value="Vietnam">Vietnam</option>
              <option value="Laos">Laos</option>
              <option value="Brunei">Brunei</option>
              <option value="Cambodia">Cambodia</option>
              <option value="Indonesia">Indonesia</option>
              <option value="Malaysia">Malaysia</option>
              <option value="Myanmar">Myanmar</option>
              <option value="Phillippines">Phillippines</option>
              <option value="Korea">Korea</option>
              <option value="Japan">Japan</option>

            </select>
            <span style="color: red;" *ngIf="bookingForm.get('To')?.errors?.['required']">Plase select country</span>
        </div>
        <div>
            <label>Trip Type</label><br>
            <input type="radio" name="Type" formControlName="Type" value="One Way">One Way<br>
            <input type="radio" name="Type" formControlName="Type" value="Return" >Return
            <span style="color: red;" *ngIf="bookingForm.get('Type')?.errors?.['required']">Plase select type</span>
        </div>
        <div>
            <label>Departure</label>
            <input type="date" formControlName="Depart">
            <span style="color: red;" *ngIf="bookingForm.get('Depart')?.errors?.['required']">Plase select date</span> &nbsp;&nbsp;&nbsp;&nbsp;
            <label>Arrival</label>
            <input type="date" formControlName="Arrival">
            <span style="color: red;" *ngIf="bookingForm.get('Arrival')?.errors?.['required']">Plase select date</span>
        </div>
        <div>
          <label>Adults</label>
          <input type="number" formControlName="Adult">
          <span style="color: red;" *ngIf="bookingForm.get('Adult')?.errors?.['required']">Plase select number</span>
          <span style="color: red;" *ngIf="bookingForm.get('Adult')?.errors?.['min']">Number is Invalid</span>
          &nbsp;&nbsp;&nbsp;
          <label>Children</label>
          <input type="number" formControlName="Children">
          <span style="color: red;" *ngIf="bookingForm.get('Children')?.errors?.['required']">Plase select number</span>
          <span style="color: red;" *ngIf="bookingForm.get('Children')?.errors?.['min']">Number is Invalid</span>
          &nbsp;&nbsp;&nbsp;
          <label>Infants</label>
          <input type="number" formControlName="Infants">
          <span style="color: red;" *ngIf="bookingForm.get('Infants')?.errors?.['required']">Plase select number</span>
          <span style="color: red;" *ngIf="bookingForm.get('Infants')?.errors?.['min']">Number is Invalid</span>
        </div>
        <div>
          <button type="submit" [disabled]="bookingForm.invalid" (click)="onsubmit(bookingForm)" >Submit</button>
        </div>


    </form>
    <table>
      <thead>
        <tr>
          <th>Full Name</th><th>From</th><th>To</th><th>Trip Type</th><th>Departure</th><th>Arrival</th><th>Adults</th><th>Children</th><th>Infants</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of flights">
        <td>{{f.fullName}}</td>
        <td>{{f.from}}</td>
        <td>{{f.to}}</td>
        <td>{{f.type}}</td>
        <td>{{f.departure}}</td>
        <td>{{f.arrival }}</td>
        <td>{{f.adults}}</td>
        <td>{{f.children}}</td>
        <td>{{f.infants}}</td>
        </tr>
      </tbody>
    </table>
</div>
